<div class='input-container' style='display:none;'>
    <input name='location' type='text' id='input' class='chunkfive'/>
    <div id='submit' class='chunkfive'>Directions</div>
    <div class='clear'></div>
</div>
<div class='places-container'>
    <ul class='places'>
    </ul>
</div>
<div class='map-container'>
    <div id="map_canvas" style="width:100%; height:100%"></div>
</div>