<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>fromme.to/anything</title>
        <meta name="description" content="The easiest way to get from here to there.">
        <meta name="author" content="Jesse Pollak">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">

        <link rel="stylesheet" href="/css/foundation.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/fonts.css">

        <script src="js/modernizr-2.6.2.js"></script>
        <script src="js/jquery-1.8.3.min.js"></script>
        <script src="js/underscore-1.4.3.min.js"></script>
        <script src="js/spin.min.js"></script>
        <script src="js/app.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9spSbNmQvMxFyrHHRG8x9jNx1PY8vj0M&sensor=true&libraries=places"></script>
        <script src="http://www.google.com/jsapi?key=AIzaSyC9spSbNmQvMxFyrHHRG8x9jNx1PY8vj0M"></script>
    </head>

    <body>

        <div id="container">
            <header>

            </header>

            <div id="main">
                <div class='input-container' style='display:none;'>
                    <input name='location' type='text' id='input'/>
                    <div id='submit'>Directions</div>
                    <div class='clear'></div>
                </div>
                <div id='places-spin' class='places-container'>
                    <div class='info'>
                        <section>
                            <h1>What is this?</h1>
                            <p class='explanation'>Fromme.to allows you to get directions to anywhere from your URL bar.</p>
                        </section>
                        <section>
                            <h1>How do I use this?</h1>
                            <p class='explanation'>From the landing page (where you are right now), just start typing...</p>
                            <p class='explanation'>From the URL bar, follow this form:</p>
                            <ul class='search-examples'>
                                <li><a href='/chipotle'>http://fromme.to/chipotle</a></li>
                                <li><a href='/cvs'>http://fromme.to/cvs</a></li>
                                <li><a href='/yosemite+national+park'>http://fromme.to/yosemite+national+park</a></li>
                                <li><a href='/170+E+6th+ST+Claremont+CA'>http://fromme.to/170+E+6th+ST+Claremont+CA</a></li>
                            </ul>
                        </section>
                        <section>
                            <h1>Who created this?</h1>
                            <p><a href='http://jessepollak.me'>Jesse Pollak</a> create fromme.to; if you're so inclined, follow him on twitter <a href='http://twitter.com/jessepollak'>here</a>.
                        </section>
                    </div>
                </div>
                <div id='map-spin' class='map-container'>
                    <div id="map_canvas" style="width:100%; height:100%"></div>
                </div>
            </div>

            <footer>

            </footer>
        </div>

        <script type='text/javascript'>
            var destination = "<%= @destination || '' %>";
            var opts = {
                lines: 13, // The number of lines to draw
                length: 13, // The length of each line
                width: 9, // The line thickness
                radius: 31, // The radius of the inner circle
                corners: 1, // Corner roundness (0..1)
                rotate: 0, // The rotation offset
                color: '#000', // #rgb or #rrggbb
                speed: 1, // Rounds per second
                trail: 60, // Afterglow percentage
                shadow: false, // Whether to render a shadow
                hwaccel: false, // Whether to use hardware acceleration
                className: 'spinner', // The CSS class to assign to the spinner
                zIndex: 2e9, // The z-index (defaults to 2000000000)
                top: 'auto', // Top position relative to parent in px
                left: 'auto' // Left position relative to parent in px
            };
            var map = document.getElementById('map-spin');
            var mapSpinner = new Spinner(opts).spin(map);

            var app = new App({
                destination: destination,
                mapSpinner: mapSpinner
            });
        </script>
    </body>
</html>