html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#main, #container { width: 100%; height: 100%;}
.clear { clear: both; display: block;}

.places-container {
    float: left;
    width: 40%;
    height: 100%;
    background: #DDD;
    overflow: scroll;
}
.map-container {
    width: 60%;
    height: 100%;
    float:right;
}
#map_canvas { height: 100% }

/******************
Info formatting
******************/

.info {
    padding: 50px;
}

.info section {
    margin-bottom: 50px;
}

.info section h1 {
    font-weight: bold;
    margin-bottom: 30px;
}

.info section p {
    font-size: 1.3em;
}

.info section ul {
    list-style: none;
    margin-top: 20px;
}

.info section ul li {
    position: relative;
    left: 40px;
}

.info section ul li a {
    color: gray;
    font-size: 1.6em;
    font-weight: bold;
}

.info section ul li a:hover {
    color: black;
}

/******************
Input formatting
******************/

div.input-container {
    height: 80px;
}

div.input-container > * {
    height: 100%
}

div.input-container input#input {
    margin: 0;
    padding-left: 40px;
    color: black;
    border: none;
    outline: none;
    font-size: 3em;
    width: 80%;
    float: left;
    background: white;
    border-radius: 0;
    font-weight: bold;
}

div.input-container input#input:focus {
    outline: none;
}

div.input-container div#submit {
    width: 20%;
    float: left;
    background: black;
    line-height: 80px;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
    color: white;
}

div.input-container div#submit:active {
    background: black;
    color: white;
}

/******************
Place formatting
******************/

ul.places {
    width: 100%;
    list-style: none;
    margin-bottom: 0;
}

li.place {
    width: 100%;
    margin: auto;
}

li.place div.summary-container {
    padding: 20px;
}

li.place div.summary-container div.place-number {
    width: 10%;
    color: #EEE;
    font-size: 1.7em;
    font-weight: bold;
    float: left;
}

li.place .place-info {
    float:right;
    width: 90%;
}
li.place h6.summary {
    cursor: pointer;
    margin: 0;
    color: white;
    font-size: 1.4em;
}


li.place p.location {
    margin: 0;
    color: rgb(230, 230, 230);
    margin-top: 5px;
}

li.place .route-container {
    background: #EEE;
    box-shadow: -2px rgba(0,0,0, .5);
}

/******************
Route formatting
******************/

ul.routes {
    width: 100%;
    list-style: none;
}

li.route {
    width: 100%;
    margin: auto;
}

li.route h6.summary {
    cursor: pointer;
    margin: 0;
    padding: 20px;
    background: #AAA;
}

li.route h6.summary span.route-number {
    width: 20%;
    margin-right: 20px;
    color: #EEE;
    font-size: 1.7em;
    position: relative;
    top: 2px;
}

li.route .directions-container {
    padding: 20px 0;
    background: #EEE;
    box-shadow: -2px rgba(0,0,0, .5);
}
/******************
Step formatting
*******************/

ul.directions {
    padding: 20px 0;
    width: 90%;
    margin: auto;
    list-style: none;
}

ul.directions li {
    width: 100%;
}

ul.directions li p span.instruction {
    width: 70%;
    float: left;
}

ul.directions li p span.distance {
    width: 15%;
    float: left;
    color: #AAA;
}

ul.directions li p span.length {
    float: right;
    width: 15%;
    color: #AAA;
}

ul.directions li div {
    margin-left: 15%;
}