html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#main, #container { width: 100%; height: 100%;}
.clear { clear: both; display: block;}

ul, li {
    list-style: none;
}
.places-container {
    float: left;
    width: 40%;
    height: 100%;
    background: #DDD;
    overflow: scroll;
}

.mobile-container {
    height: 100%;
    background: #DDD;
    overflow: scroll;
}

.places-container .no-results {
    margin-left: 20px;
}

.places-container h4.no-results {
    font-size: 2em;
}

.places-container h6.no-results {
    margin-top: -5px;
}
.map-container {
    width: 60%;
    height: 100%;
    float:right;
}
#map_canvas { height: 100% }

/******************
Error formatting
******************/

.error-container {
    padding: 10px;
    background: red;
    display: block;
    color: white;
}

.error-container h3 {
    color: white;
    margin-bottom: 10px;
}
.error-container #error {
    color: white;
}

/******************
Info formatting
******************/

.info {
    padding: 50px;
}

.info section {
    margin-bottom: 50px;
}

.info section h1 {
    font-weight: bold;
    margin-bottom: 30px;
}

.info section p {
    font-size: 1.3em;
}

.info section ul {
    list-style: none;
    margin-top: 20px;
}

.info section ul li {
    position: relative;
    left: 40px;
}

.info section ul li a {
    color: gray;
    font-size: 1.6em;
    font-weight: bold;
}

.info section ul li a:hover {
    color: black;
}

/******************
Help formatting
******************/

div.help-callout {
    width: 150px;
    position: absolute;
    z-index: 100;
    background: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    left: 40%;
    cursor: pointer;
}

div.help-callout h6 {
    margin: 0;
}

/******************
Input formatting
******************/

div.input-container {
    height: 80px;
    display: none;
}

div.input-container > * {
    height: 100%
}

div.input-container input#input {
    margin: 0;
    padding-left: 40px;
    color: black;
    border: none;
    outline: none;
    font-size: 3em;
    width: 80%;
    float: left;
    background: white;
    border-radius: 0;
    font-weight: bold;
}

div.input-container input#input:focus {
    outline: none;
}

div.input-container div#submit {
    width: 20%;
    float: left;
    background: black;
    line-height: 80px;
    font-size: 3em;
    text-align: center;
    cursor: pointer;
    color: white;
}

div.input-container div#submit:active {
    background: black;
    color: white;
}


/******************
Place formatting
******************/

ul.places {
    width: 100%;
    list-style: none;
    margin-bottom: 0;
}

li.place {
    width: 100%;
    margin: auto;
}

li.place div.summary-container {
    padding: 20px;
    cursor: pointer;
}

li.place div.summary-container:hover {
    opacity: .9;
}

li.place div.summary-container h6.place-number {
    width: 10%;
    color: #EEE;
    font-size: 1.7em;
    font-weight: bold;
    float: left;
}

li.place .place-info {
    float:right;
    width: 90%;
}
li.place h6.summary {
    cursor: pointer;
    color: white;
    font-size: 1.7em;
    margin-bottom: 5px;
}


li.place p.location {
    margin: 0;
    color: rgb(230, 230, 230);
}

li.place .route-container {
    background: #EEE;
    box-shadow: -2px rgba(0,0,0, .5);
}
/******************
Suggestions formatting
******************/

li.place.suggestion h6.summary {
    font-size: 1em;
    margin: 14px;
}

li.place.suggestion div.summary-container h6.place-number {
    font-size: 1em;
}

li.place.suggestion div.summary-container {
    padding: 0;
    padding-left: 20px;
}
/******************
Route formatting
******************/

ul.routes {
    width: 100%;
    list-style: none;
}

li.route {
    width: 100%;
    margin: auto;
}

li.route h6.summary {
    cursor: pointer;
    margin: 0;
    padding: 20px;
    background: #AAA;
}

li.route h6.summary span.route-number {
    width: 20%;
    margin-right: 20px;
    color: #EEE;
    font-size: 1.7em;
    position: relative;
    top: 2px;
}

li.route .directions-container {
    padding: 20px 0;
    background: #EEE;
    box-shadow: -2px rgba(0,0,0, .5);
}
/******************
Step formatting
*******************/

ul.directions {
    padding: 20px 0;
    width: 90%;
    margin: auto;
    list-style: none;
}

ul.directions li {
    width: 100%;
}

ul.directions li p span.instruction {
    width: 68%;
    float: left;
}

ul.directions li p span.distance {
    width: 15%;
    float: left;
    color: #AAA;
}

ul.directions li p span.length {
    float: right;
    width: 15%;
    color: #AAA;
}

ul.directions li div {
    margin-left: 15%;
}

/***********************
Mobile formatting
***********************/

@media all and (min-width: 320px) and (max-width: 780px) {
    .places-container {
        float: none;
        width: 100%;
        height: auto;
    }

    .map-container {
        width: 100%;
        float: none;
    }

    .mobile-container {
        width: 100%;
        float: none;
        height: auto;
        background: white;
    }

    div.help-callout {
        display: none;
    }

    ul.places {
        width: 100%;
        list-style: none;
        margin-bottom: 0;
    }

    li.place {
        width: 20%;
        float: left;
        margin: 0;
    }

    li.place div.summary-container {
        padding: 0;
        height: 100%;
    }

    li.place div.summary-container:hover {
        opacity: .9;
    }

    li.place div.summary-container h6.place-number {
        display: none;
    }

    li.place .place-info {
        width: 100%;
        padding: 5px;
    }

    li.place h6.summary {
        font-size: .8em;
        margin: 0;
        width: 100%;
    }


    li.place p.location {
        display: none;
    }

    li.place.suggestion {
        list-style: none;
        height: 100%;
    }
    li.place.suggestion h6.summary {
        font-size: .7em;
        margin: 0;
    }

    li.place.suggestion div.summary-container h6.place-number {
        font-size: .7em;
    }

    li.place.suggestion div.summary-container {
        padding: 0;
    }

    div.input-container {
        height: 30px;
        display: block!important;
    }

    div.input-container > * {
        height: 100%
    }

    div.input-container input#input {
        margin: 0;
        color: black;
        border: none;
        outline: none;
        font-size: 1em;
        width: 60%;
        float: left;
        background: white;
        border-radius: 0;
        font-weight: bold;
        padding-left: 5px;
    }

    div.input-container div#submit {
        width: 40%;
        float: left;
        background: black;
        font-size: 1.2em;
        text-align: center;
        cursor: pointer;
        color: white;
        line-height: 30px;
        font-weight: bold;
    }


}